:root {
    --background-color: #6d6d6d;
    --screen-color: #A6A6A6;
    --number-color: #69BFE8;
    --function-color: #E67C5C;
    --equal-color: #72A64B;
}

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: large;
}

.calculator {
    background-color: var(--background-color);
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 100px);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    border-radius: 10px;
    margin: 5px;
    padding: 15px;
}

.display {
    grid-column: 1 / -1;
    background-color: var(--screen-color);
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: larger;
    font-weight: bolder;
}

.calc-button {
    border: none;
    border-radius: 10%;
    font-size: large;
}

.function-button {
    background-color: var(--function-color);
}

.number-button {
    background-color: var(--number-color);
}
.number-button::after {

}

.button-equal {
    background-color: var(--equal-color);
}